<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href={{ asset("Styles/style.css") }}>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
</head>
<body>
<header>
    {% block header%}
        <nav class="navheader">
            <ul>
                <li><a href="{{ path('') }}">E-Cigarettes</a></li>
                <li><a href="{{ path('') }}">E-Liquides</a></li>
                <li><a href="{{ path('') }}">Boxs & Mods</a></li>
                <li><a href="{{ path('') }}">Pièces détachées</a></li>
                <li><a href="{{ path('') }}">DIY</a></li>
            </ul>
        </nav>

    {% endblock %}
</header>
<main>
    {% block content%}
        hey
    {% endblock %}

</main>

<footer>
    {% block footer %}
<section class="contact">
        <div>Nous Contacter</div>
        <div>Le Magasin</div>
</section>
        <nav class="navfooter">
            <ul>
            <li>Liens Utiles</li>
            <li>Service Client</li>
            </ul>
        </nav>
    {% endblock %}
</footer>
</body>
</html>